<h1 class="text-3xl">Precios del servicio</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur adipiscing elit sollicitudin aliquet
    cum, elementum urna inceptos ad phasellus ut taciti tortor porttitor. Nec
    pulvinar vitae tempus litora euismod volutpat fusce porttitor urna, arcu
    cubilia molestie fringilla commodo magnis erat fames donec, cras natoque ad
    per suspendisse varius conubia vulputate. Litora nunc convallis duis posuere
    magna tellus mi, ante montes phasellus mollis habitant potenti aenean,
    rutrum auctor sagittis vitae augue euismod. Id ultrices venenatis nisi etiam
    tempor varius tristique, porttitor convallis magna dui nisl gravida duis,
    ullamcorper molestie natoque eget pretium enim. Vivamus ultricies vehicula
    tempus habitasse turpis ridiculus erat sem eros inceptos conubia eget, mi
    aliquam facilisi arcu ac mollis duis imperdiet nunc felis lacus, augue
    sociosqu at nostra a interdum dictum cum etiam sociis blandit. Mi tortor et
    mattis curabitur dis magna fermentum turpis scelerisque libero, aptent
    luctus accumsan lacinia felis bibendum ridiculus sed.
  </p>
  <p>
    Id ultrices venenatis nisi etiam tempor varius tristique, porttitor
    convallis magna dui nisl gravida duis, ullamcorper molestie natoque eget
    pretium enim. Vivamus ultricies vehicula tempus habitasse turpis ridiculus
    erat sem eros inceptos conubia eget, mi aliquam facilisi arcu ac mollis duis
    imperdiet nunc felis lacus, augue sociosqu at nostra a interdum dictum cum
    etiam sociis blandit. Mi tortor et mattis curabitur dis magna fermentum
    turpis scelerisque libero, aptent luctus accumsan lacinia felis bibendum
    ridiculus sed.
  </p>
</section>
