<nav class="text-white gap-4 top-0 absolute z-50 w-full flex justify-end px-2 py-3 bg-slate-900 shadow-md">
  <!-- LO COMENTO PORQUE NO QUIERO QUE SALGA PERO ESTÁ TODO LISTO PARA DESCOMENTAR Y QUE FUNCIONE -->
  <!-- <a [routerLink]="['/pricing']" routerLinkActive="router-link-active text-pink-300"> Pricing </a> -->
  <a [routerLink]="'/pokemons/page/1'" [routerLinkActive]="'router-link-active text-pink-300'"> Pokemons </a>
  <a [routerLink]="'/contact'" [routerLinkActive]="'router-link-active text-pink-300'"> Contact </a>
  <a [routerLink]="['/about']" routerLinkActive="router-link-active text-pink-300"> About </a>
</nav>
